@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  display: flex;
  flex-direction: column
}

/* Page Content Structure */
.page-content {
  text-align: left;
  margin: 10 auto;
  padding: 20px 40px
}
/* Top NavBar Styling */
.NavBar{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  
}

.NavBar a {
  color: gray;
  text-decoration: underline;
  padding: 5px;
}

/* Footer Styling */
.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
}

.Footer nav {
  display: flex;
  justify-content: center;
}

.Footer nav a {
  color: gray;
  text-decoration: underline;
  padding: 5px;
  font-size: 12px
}

.Footer p {
  text-align: center;
  font-size: 10px
}
