@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*

*/
body {
  background: var(--background);
  color: var(--foreground);
}

a {
  color: gray;
  text-decoration: underline;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  
}
